
/.idea/
/ora-docker-image-builder-scripts/
/ora-docker-database.iml
/19-ee-installer-zip-folder/LINUX.X64_193000_db_home.zip
/startup-setup-ora-bikewake-scripts/dockerfile-sample-builder/temp-db-sample-schemas-19.2/